$color-hopbush: #d06fa3;
$color-bouquet: #af8ea8;
$color-venus: #928e91;
$color-patina: #639a9c;
$color-nebula: #d5dbe0;
$color-white: #ffffff;
$color-dawn-pink: #f3e6e8;
$color-wafer: #e4d7d0;
$color-iron: #d4d7d9;
$color-regent-grey: #8c9199;
$color-pale-sky: #6c7a89;
$color-midnight-blue: #003366;
